.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.537),rgba(0, 0, 0, 0.537)), url(images/about-header.jpg);
    height: 400px;
    background-size: cover;
    position: relative;
}
.navbar-expand-lg{
    background-color:rgba(0, 0, 0, 0.621) !important;
    position: fixed;
    width: 100%;
}
.nav-item{
    padding: 5px;
}
nav{
    z-index: 100;
}
.navbar-light .navbar-nav .nav-link{
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 26px;
    color: white !important;
}
.navbar-light .navbar-nav .nav-link.active{
    color:  #28ABE3 !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #28ABE3 !important;
}
/* header ended */
/* section 1 started */
.heading{
    position: absolute;
    top: 25%;
    text-align: center;
}
.heading h2{
    color: white;
    text-align: center;
}
/* section 1 ended */
/* section 2 started */
.col-md-6{
    max-width: 45%;
}
.col-md-6 img{
    width: 100%;
}
.col-md-6 h2{
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.col-md-6 p{
    font-family: "Source Sans Pro", sans-serif;
    color: #848484;
    font-size: 16px;
    margin-bottom: 1rem;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .col-md-6{
        max-width: 98%;
    }
}
/* section 2 ended */
/* section 3 started */
.bg-gray{
background: #f9f9f9;
}
.col-md-6 h3{
    margin-top: 20px;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.col-md-6 p{
    font-family: "Source Sans Pro", sans-serif;
    color: #848484;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-bottom: 50px;
}
/* section 3 ended */
/* section 4 started */
.title{
    text-align: center;
}
.title h2{
    font-weight: 600;
    font-size: 35px;
    color: #232323;
    font-family: "Catamaran", sans-serif;
}
.title p{
    color: #848484;
    width: 50%;
    margin: 0 auto;
    font-family: "Source Sans Pro", sans-serif;
}
.divider{
    width: 7%;
    margin: 0 auto;
    color: #078ec8;
}
hr:not([size]){
    height: 3px;
} 
/* section 4 ended */
/* section 5 started */
.bg1{
    background-image: url(images/call-to-action-bg.jpg);
    background-size: cover;
    height: auto;
}
.div2 p{
    line-height: 1.5;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
}
/* section 5 ended */
/* section 6 started */
.title2{
    text-align:center ;
}
.title2 h2{
    font-weight: 600;
    font-size: 35px;
    color: #232323;
    font-family: "Catamaran", sans-serif;
}
.title2 p{
    color: #848484;
    width: 50%;
    margin: 0 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .carousel-item img{
        width: 55px;
        height: 30px;
    }
}
@media  screen and (min-width:321px) and (max-width:768px) {
    .carousel-item img{
        width: 145px;
    }
}
/* section 6 ended */
/* section 7 started */
.team{
    padding: 90px 0px;
    background: rgb(246, 246, 246);
}
.title2{
    text-align: center;
}
.title2 h2{
    font-weight: 600;
    font-size: 35px;
    color: rgb(35, 35, 35);
    font-family: Catamaran, sans-serif;
}
.title2 p{
    color: rgb(132, 132, 132);
    width: 50%;
    margin: 0px auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}
.col-md-4{
    max-width: 28%;
}
.team-member{
    background: rgb(255, 255, 255);
    position: relative;
}
.team-photo{
    overflow: hidden;
    position: relative;
}
.team-photo img{
    width: 100%;
    transition: transform 2s;
}
.team-photo:hover img{
    transform: scale(1.1,1.1);
}
.cover{
    height: 70px;
    width: 100%;
    position: absolute;
    bottom:-20px;
    background-color: #078ec89b;
    transition: transform 0.5s linear;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member:hover .cover{
    transform: translateY(-20px);
    visibility: visible;
}
.cover li{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    color: transparent;
    list-style-type: none;
    margin: 10px;
    color: white;
}
.team-content{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    overflow: hidden;
}
.team-content h3{
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin: 0px 0px 5px;
    font-family: Catamaran, sans-serif;
    font-weight: 600;
}
.team-content:hover h3{
    color: #078ec8;
}
.team-content span{
    font-size: 14px;
    color: rgb(85, 85, 85);
}
.team-content p{
    color: rgb(119, 119, 119);
    margin-top: 10px;
    padding: 0px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
@media  screen and (min-width:321px) and (max-width:768px) {
    .cover{
        height: 40px;
    }
    .team-member:hover .cover{
        visibility:visible;
        transform: translateY(-20px);
    }
    .team-content h3{
        font-size: 18px;
    }
}
@media screen and (min-width:320px) and (max-width:480px) {
    .col-md-4{
        max-width: 98%;
    }
}
/* section 7 ended */
/* section 8 started */
.title3{
    text-align: center;
    margin-top: 50px;
}
.title3 h2{
    font-weight: 600;
    font-size: 35px;
    color: rgb(35, 35, 35);
    font-family: Catamaran, sans-serif;
}
.title3 p{
    padding-top: 15px;
    width: 50%;
    color: #848484;
    text-align: center;
    margin: 0 auto;
}
.col-md-3{
    max-width: 20%;
}
.counter{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    color: #444;
}
.col-md-3 li{
    padding-top: 10px;
    font-size: 35px;
    color: #28ABE3;
    list-style-type: none;
    margin-bottom: 10px;
}
.col-md-3 h3{
    font-size: 18px;
    margin: 0;
    color: #666;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    margin-top: 15px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .col-md-3{
        max-width: 100%;
    }

}
/* section 8 ended */
/* section 9 started */
.bg3{
    background-image: url(images/call-to-action-bg-2.jpg);
    background-size: cover;
    height: auto;
    padding-bottom: 30px;
}
.div h2{
    padding-top: 30px;
    line-height: 1.5;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}
.div p{
    padding-top: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color:#fff;
    font-size: 16px;
    padding-bottom: 20px;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #28ABE3;
    border-color: rgb(40, 171, 227);
    padding: 12px 40px;
    font-weight: 600px;
    border-radius: 40px;
}
.btn:hover{
    color: aliceblue;
    background-color: #0c89be;
}
/* section 9 ended */
/* footer started */
.footer-top{
    background-color: #222222;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}
.col-lg-3 h3{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.col-lg-3 p{
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}
.col-lg-3 li{
    list-style-type: none;
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}
.col-lg-3 li:hover{
    color: #28ABE3;
}
.footer-bottom{
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
}
.footer-bottom h5{
    font-size: 12px;
    font-family: "Catamaran", sans-serif;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
}
.footer-bottom h6{
    font-family: "Catamaran", sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}
/* footer ended */