.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.537),rgba(0, 0, 0, 0.537)), url(images/about-header.jpg);
    height: 400px;
    background-size: cover;
    position: relative;
}
.navbar-expand-lg{
    background-color:rgba(0, 0, 0, 0.621) !important;
    position: fixed;
    width: 100%;
}
.nav-item{
    padding: 5px;
}
nav{
    z-index: 100;
}
.navbar-light .navbar-nav .nav-link{
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 26px;
    color: white !important;
}
.navbar-light .navbar-nav .nav-link.active{
    color:  #28ABE3 !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #28ABE3 !important;
}
/* header ended */
/* section 1 started */
.heading{
    position: absolute;
    top: 25%;
    text-align: center;
}
.heading h2{
    color: white;
    text-align: center;
}
.header-bradcrumb {
    background: transparent;
}
/* section 1 ended */
/* section 2 started */
.title{
    text-align: center;
}
.title h1{
    font-weight: 600;
    font-size: 35px;
    color: #232323;
    font-family: "Catamaran", sans-serif;
}
.title p{
    color: #848484;
    width: 50%;
    margin: 0 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
.divider{
    width: 8%;
    margin: 0 auto;
    color: #0c89be;
}
hr:not([size]){
    height: 3px;
} 
.col-lg-5 p{
    margin-top: 10px;
    color: #848484;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
li{
    list-style-type: none;
}
.icon{
    display: flex;
}
.icon li{
    margin: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px #848484 solid ;
    color: #848484;
}
.icon li:hover{
    color: white;
    background-color: #28ABE3;
    border: #0c89be;
}
.col-12 .btn{
    width: 100%;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
    padding: 15px 0;
}
/* section 2 ended */
/* footer started */
.footer-top{
    background-color: #222222;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}
.col-lg-3 h3{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.col-lg-3 p{
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}
.col-lg-3 li{
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}
.col-lg-3 li:hover{
    color: #28ABE3;
}
.footer-bottom{
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
}
.footer-bottom h5{
    font-size: 12px;
    font-family: "Catamaran", sans-serif;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
}
.footer-bottom h6{
    font-family: "Catamaran", sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}
/* footer ended */